


  body {
  background: url('https://images.unsplash.com/photo-1506784983877-45594efa4cbe');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  height:100vh;
  
}
.card{

  opacity: 0.9;
}


#todoList li {
  font-size: 18px; /* scaled down from 32 to fit Bootstrap card nicely */
}

#todoList li i {
  cursor: pointer;
}



